body,html {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  
  .about {
    margin-top: 10vh;
    background-color: hsl(225, 10%, 16%);
    padding-top: 1rem;
    color: white;
    height: 100vh;
    animation: slideIn 1s;
  }
  
  .header {
    font-size: 2em;
    background-color: #25272d;
  }
  
  .interests {
    padding-left: 5vw; 
    padding-right: 5vw; 
    font-size: 2em;
    background-color: #25272d;
  }
  
  .thrive {
    padding-left: 5vw; 
    padding-right: 5vw; 
    margin-top: 100px;
    font-size: 2em;
    background-color: #25272d;
  }
  .uni {
    color: #f1fb22;
  }
  
  @media screen and (max-width: 480px) {

    .about {
      width: 100%;
    }

    .interests {
      padding-left: 5vw; 
      padding-right: 5vw; 
      padding-top: 30px;
      font-size: 1.5em; 
      padding-bottom: -10px;
    }

    .thrive {
      padding-left: 5vw; 
      padding-right: 5vw; 
      font-size: 1.5em; 
      padding-bottom: 20px;
    }
  }