body,html {
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .about {
    margin-top: 10vh;
    padding-top: 1rem;
    color: white;
    height: 100%;
    animation: slideIn 1s;
    padding-bottom: 5vw;
    background: linear-gradient(135deg, #25272d, #46494f);
  }
  
  .header {
    font-size: 2em;
  }
  
  .interests {
    padding-left: 5vw; 
    padding-right: 5vw; 
    font-size: 2em;
  }
  
  .thrive {
    padding-left: 5vw; 
    padding-right: 5vw; 
    margin-top: 100px;
    font-size: 2em;
  }
  .uni {
    color: #f1fb22;
  }
  
  @media screen and (max-width: 480px) {

    .about {
      width: 100%;
    }

    .interests {
      padding-left: 5vw; 
      padding-right: 5vw; 
      padding-top: 30px;
      font-size: 1.5em; 
    }

    .thrive {
      padding-left: 5vw; 
      padding-right: 5vw; 
      font-size: 1.5em; 
    }
  }