  .certificate-section {
    display: flex;
    justify-content: center;
    gap: 2em; 
    flex-wrap: wrap;
    margin-bottom: 10vh; 
    color: white;
  }

  .title {
    overflow-wrap: break-word;
  }

  .certificate {
    transition: all 0.3s;
  }

  .certificate:hover {
    transform: translateY(-1em);
  }