.footer-line {
  padding: 0 1em 0 1em;
}

.textinfooter {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  }

@media screen and (max-width: 600px) {
    .footer {
      white-space: normal; 
    }
  }