body,html {
  background-color: moccasin;
  font-size: large;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.text {
  text-align: center; 
  margin-top: -5em;
  position: relative;
  text-align: right;
  padding-right: 1em;
  z-index: 1;
  transition: background-color 5s ease;
  animation: slideSide 2s ease;
  font-size: 5vw; 
}

.intro {
  margin-top: -40px; 
  margin-bottom: 1em;
  padding-right: 1em; 
  text-align: right;
  padding-left: 5em;
  transition: background-color 5s ease;
  animation: slideSide 2s ease; 
  font-size: 5vw; 
}

.text .name-color {
  color: #38c172;
}


.home {
  height: 100vh;
  position: relative;
  padding-right: 0; 
  justify-content: space-between;
  max-width: none;
  font-family: Arial, Helvetica, sans-serif;
}


.home img {
  margin-top: 8em;
  margin-right: 60vw;
  border-radius: 100%;
  width: 100%;
  max-width: 25vw; 
  object-fit: cover;
  height: auto; 
  border: 8px solid black;
  position:initial;
  transition: transform 0.3s ease, border-color 0.3s ease;
  animation: slideSide 2s ease;
}

.home img:hover {
  border-color: #38c172;
}

@keyframes slideSide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width: 64em) {

  .home {
    height: 100vh;
  }

  .home img {
    max-width: 350px;
  }
  .profile-image {
    margin-right: 0;
    margin-bottom: 5em;
  }

  .text {
    padding-top: 3em;
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
  }

  .intro {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
  }

  .home img {
    width: 80%;
    align-items: center;
    margin-top: 4rem;
    margin-right: 0;
  }
}

