body,html {
  background-color: moccasin;
  font-size: large;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.navbar-home {
  display: flex;
  align-items: center; 
  flex-direction: row;
  margin-top: 2.5em;
  justify-content: center;
}

.navbar-home li  {
  margin-left: 3em;
}

.navbar-home li a {
  color: black; 
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.25rem .5rem;
  font-family: ui-sans-serif, system-ui, -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: box-shadow 0.5s ease, color 0.5s ease;
}

.navbar-home a:hover {
  cursor: pointer;
}

.navbar-home a::before {
  content: '';
  background-color: #38c172;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.navbar-home a:hover::before {
  bottom: 0;
  height: 100%;
}


.navbar-home .connect-link {
  box-shadow: inset 0 0 0 0 black;
  border: 4px solid black;
  border-radius: 0.25em;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all 0.3s ease;
}

.navbar-home .connect-link:hover {
  box-shadow: inset 0 -100px 0 0 black;
  cursor: pointer;
  color: white;
}

.navbar-home .logo:hover {
  box-shadow: inset 0 -100px 0 0 black;
  cursor: pointer;
  color: white;
}

.navbar-home .connect-link::before {
  content: '';
  background-color: #38c172;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 0px;
  z-index: 0;
  transition: all .3s ease-in-out;
}

.navbar-home .logo::before {
  content: '';
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 0px;
  z-index: 0;
  transition: all .3s ease-in-out;
}

.navbar-home .logo {
  padding: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 4px solid black;
  border-radius: 0.25em;
  font-style: normal;
  margin-left: -20px;
}

.home {
  border-top: 1em solid #38c172;
  height: 100vh;
  position: relative;
  padding-right: 0; 
  justify-content: space-between;
  max-width: none;
  font-family: Arial, Helvetica, sans-serif;
}


.text {
  text-align: center; 
  margin-top: -5em;
  position: relative;
  text-align: right;
  padding-right: 1em;
  z-index: 1;
  transition: background-color 5s ease;
  animation: text-clip 1.5s ease-in-out;
  font-size: 5vw; 
}

.intro {
  margin-top: -3vw; 
  margin-bottom: 1em;
  padding-right: 1em; 
  text-align: right;
  padding-left: 5em;
  transition: background-color 5s ease;
  animation: text-clip 1.5s ease-in-out;
  font-size: 5vw; 
}

.text .name-color {
  color: #38c172;
}

.home img {
  margin-top: 4em;
  margin-right: 60vw;
  border-radius: 100%;
  width: 100%;
  max-width: 25vw; 
  object-fit: cover;
  height: auto; 
  border: 8px solid black;
  position:initial;
  transition: transform 0.3s ease, border-color 0.3s ease;
  animation: text-clip 1.5s ease;
}

.home img:hover {
  border-color: #38c172;
}


@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}


@media screen and (max-width: 88em) {
    .navbar-home li a {
      font-size: 2vw;
    }
}

@media screen and (max-width: 55em) {

  .navbar-home {
    display: none;
  }

  .home {
    position: relative; 
    height: 100%;
  }

  .home::before {
    content: "";
    border-top: 1em solid #38c172;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
  }


  .profile-image {
    margin-right: 0;
    margin-bottom: 5em;
  }

  .text {
    padding-top: 3em;
    padding-left: 10px; 
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
  }

  .intro {
    margin-top: -40px; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
  }

  .home img {
    width: 80%;
    max-width: 20em;
    align-items: center;
    margin-right: 0;
    margin-top: 40px;
  }
}

