html, body {
  font-size: 1.25em; /* Adjust as needed */
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  height: 2rem; /* Adjust as needed */
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 228, 181, 0.9);
  padding: 0.625em 1.25em; /* Adjust as needed */
  animation: slideDown 1s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.site-title {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2.5px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 30px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  text-shadow: 2px 2px #38c172;
  transition: 0.3s;
}

.content {
  padding-top: 6.25em; /* Adjust based on the navbar height */
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75em;
  right: 1.875em;
  flex-direction: column;
  justify-content: space-between;
  width: 1.40625em;
  height: 1.25em;
}

.close-btn {
  display: none; /* Hide the close button by default */
}

nav .menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

@media (max-width: 30em) { /* 480px/16px = 30em */

  .nav {
    width: 100%;
  }

  .nav .menu {
    display: flex;
    right: 15vw;
  }

  ul {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: rgba(255, 228, 181, 0.9);
    width: 100%;
    height: calc(100vh - 2.5rem);
    flex-direction: column;
    justify-content: center;
    display: none;
  }

  ul.open {
    display: flex;
    animation: slideleft 1s ease;
  }

  

  @keyframes slideleft {
    from {
      transform: translateX(-100%); /* Start off-screen to the left */
    }
    to {
      transform: translateX(0); /* Slide in to the right */
    }
  }

  @keyframes slideright {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}