body {
    margin: 0;
    padding: 0;
  }
  
  .projects {
    background: linear-gradient(135deg, #25272d, #46494f);
    padding: 2rem;
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 50px;
  }
  
  .desc {
    font-weight: 1000;
  }
  
  .project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
  }
  
