body {
    margin: 0;
    padding: 0;
  }
  
  .project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    border-radius: 1rem;
  }
  
  .projects {
    background: linear-gradient(135deg, #25272d, #46494f);
    padding-top: 1rem;
    color: white;
  }
  

  


  
