body {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.skills-section, .database-section {
  display: flex;
  justify-content: center;
  gap: 2vw; 
  flex-wrap: wrap;
  margin-bottom: 10vh; 
}

.title {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1rem;
}

@media screen and (max-width: 480px) {
  
  .skills-section, .database-section {
      gap: 5vw; 
      padding: 10px;
      
  }
}
