/* styles.css */
.menu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5em;
    height: 1.25em;
    right: 1em;
    margin-top: 2em;
    border: 0px solid black;
    padding: 0.75em;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 2em;
    z-index: 3 !important;
    cursor: pointer;
    
}

.menu span {
    height: 0.2em;
    background-color: black;
    border-radius: 0.2rem;
    transition: transform 0.5s ease, opacity 1s ease;
}

.menu span.bar:nth-child(2) {
    width: 1em;
}

ul {
    display:none;
}

.navbar-burger .logo {
    padding: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border: 4px solid black;
    border-radius: 0.25em;
    font-style: normal;
}

.navbar-burger .connect-link {
    border: 4px solid black;
    border-radius: 0.25em;
    font-weight: bold;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: all 0.3s ease;
    font-style: normal;
}

.menu.close span:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.4em);
}
  
.menu.close span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
.menu.close span:nth-child(3) {
    transform: rotate(-45deg) translate(0.3em, -0.3em);
}



@keyframes slideLeft {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 55em) {
    .menu {
        display: flex;
    }

    ul li a {
        font-size: 2em;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 5em;
        font-family: ui-sans-serif, system-ui, -apple-system, 
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        transition: box-shadow 0.5s ease, color 0.5s ease;
        font-style: italic;
        cursor: pointer;
    }

    ul.open {
        justify-content: space-evenly;
        position: fixed;
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 2;
        list-style: none;
        flex-direction: column;
        background-color: rgba(56, 193, 114, 1); 
        top: 0;
        margin-top: 0;
        animation: slideLeft 1s ease;
    }
    
}

