.menu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5em;
    height: 1.25em;
    right: 1em;
    margin-top: 2em;
    border: 0px solid black;
    padding: 0.75em;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 2em;
    z-index: 3 !important;
    cursor: pointer;
}

.menu span {
    height: 0.2em;
    background-color: black;
    border-radius: 0.2rem;
    transition: transform 0.5s ease, opacity 1s ease;
}

.menu span.bar:nth-child(2) {
    width: 1em;
}

ul {
    display:none;
}

.navbar-burger.close {
    justify-content:center;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
    list-style: none;
    flex-direction: column;
    background-color: rgba(56, 193, 114, 1); 
    margin-top: 0;
    animation: slideLeft 0.5s ease-out;
    padding-left: 2vw;
}

.navbar-burger li {
    position: relative;
    width: max-content;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

.navbar-burger li a::before {
    content: '';
    background-color: rgb(253, 230, 138);
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 12px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.navbar-burger li a:hover::before {
    bottom: 0;
    height: 100%;
  }

.menu.close span:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.4em);
}
  
.menu.close span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
.menu.close span:nth-child(3) {
    transform: rotate(-45deg) translate(0.3em, -0.3em);
}


@keyframes slideLeft {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%);
    }
}

@media (max-width: 55em) {

    .menu {
        display: flex;
    }

    .navbar-burger li a {
        font-size: 1.75em;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 5em;
        font-family: poppins;
        transition: box-shadow 0.5s ease, color 0.5s ease;
        cursor: pointer;
        font-weight: 600;
    }
    
}

@media (max-width: 450px) { 
    .navbar-burger li a {
        font-size: 1.5em;
    }
}

