body {
    margin: 0;
    padding: 0;
}

.certificate {
    border-radius: 1.2em;
    overflow: hidden;
    display: grid;
    border: 0.2em solid black;
    width: 20em;
    height: auto;
    color: black;
}

.certificate img {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 5em;
    margin: 0.5em auto; /* this centers the image */
}

.certificate-name {
    text-align: center;
    width: auto;
    padding: 0 1em 0em 1em;
    margin: 0 1em 0 1em;
    overflow-wrap: break-word;
    font-weight: 400;
}

.certificate-description {
    text-align: center;
    overflow-wrap: break-word;
    padding: 0 1em 0 1em;
}

@media (max-width: 480px) {

    .certificate {
        width: 16em;
    }

    .certificate img {
        width: 5em;
    }

    .certificate-name {
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: auto;
    }

    .certificate-description {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 300px) {
    .certificate {
        width: 12em;
        height: auto;
    }

    .certificate img {
        width: 4em;
    }
}