.certificate {
    border-radius: 1.2em;
    display: grid;
    border: 0.2em solid black;
    width: 25em;
    height: 30em;
    flex-wrap: wrap;
    color: black;
}

.certificate img {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 25em;
    height: auto;
}

.certificate-name {
    text-align: center;
    width: auto;
    overflow-wrap: break-word;
    font-weight: 400;
}

.certificate-description {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    overflow-wrap: break-word;
}



@media (max-width: 480px) {

    .certificate {
        width: 16em;
        height: auto;
    }

    .certificate img {
        width: 16em;
    }

    .certificate-name {
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: auto;
    }

    .certificate-description {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 300px) {
    .certificate {
        width: 12em;
    }

    .certificate img {
        width: 12em;
    }
}