.certificate {
    border-radius: 1.2em;
    display: grid;
    border: 0.2em solid black;
    width: 25em;
    height: 30em;
    background: linear-gradient(343deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
    flex-wrap: wrap;
    color: black;
}

.certificate img {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 25em;
    height: auto;
}

.certificate-name {
    text-align: center;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    overflow-wrap: break-word;
}

.certificate-description {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    overflow-wrap: break-word;
}



@media (max-width: 480px) {

    .certificate {
        width: 15em;
        height: auto;
    }

    .certificate img {
        width: 15em;
    }

    .certificate-name {
        width: auto;
    }

    .certificate-description {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
}