.project-card {
    border-radius: 1em;
    overflow: hidden;
    background-color: inherit;
    width: 25rem; 
    margin-bottom: 3rem;
    transition: transform 0.3s ease, border-color 0.3s ease;
    background: linear-gradient(343deg, rgba(34,193,195,1) 0%, rgba(241,251,34,1) 100%);
    display: grid;
    border: 0.2em solid black;
}

.project-title {
    color: black;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
}

.description {
    color: black;
    margin-bottom: -0.5em;
}

.tools {
    color: black;
    font-style: italic;
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

.project-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {
    .project-card {
        width: 16.5em; 
        height: auto;
    }
}
