.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
}

body::-webkit-scrollbar { 
  width: var(--scrollbar-width, 20px); 
  height: var(--scrollbar-height, 20px); 
}

body::-webkit-scrollbar-thumb { 
  background: var(--scrollbar-thumb-color, #38c172); 
  border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); 
  border-radius: var(--scrollbar-border-radius, 4px); }
  
  body::-webkit-scrollbar-track { 
    background: var(--scrollbar-track-color, #3F3F46); }
    
    body::-webkit-scrollbar-button { 
      background: var(--scrollbar-button-color, #3F3F46); 
      border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); 
      border-radius: var(--scrollbar-border-radius, 4px); }
      
      body::-webkit-scrollbar-corner { 
        background: var(--scrollbar-corner-color, #FFFFFF); 
        border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); 
        border-radius: var(--scrollbar-border-radius, 4px); 
      }

      body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { 
        display: var(--show-double-buttons, none); 
      }

      body::-webkit-scrollbar-thumb:hover { 
        background: var(--scrollbar-thumb-color, #2c6d47); 
        border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); 
        border-radius: var(--scrollbar-border-radius, 4px); }